            body {
                background: #0C2939;
                font-size: 80%;
                padding: 20px;
            }
            
            header {
                color: antiquewhite;
                text-align: center;
            }
            
            h1 {
                color: antiquewhite;
                text-align: center;
                font-size: 25pt;
            }
            
            h2 {
                color: antiquewhite;
                text-align: center;
                font-size: 20pt;
            }
            
            section {
                background: black;
                color: white;
                width: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 20px;
                resize: both;
                overflow: auto;
            }
            
            table {
                position: relative;
                background: rgb(255, 255, 255);
                font-size: large;
                height: 200px;
                width: 60%;
                margin: 0 auto;
                padding: 20px;
                resize: both;
                overflow: auto;
            }
            
            tr#topo {
                background-color: rgb(11, 176, 226);
                color: rgb(12, 66, 243);
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20pt;
            }
            
            ul,
            td {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            
            td#Mod {
                background-color: rgb(11, 176, 226);
                color: aliceblue;
                font: Evogria;
                font-size: 30px;
            }
            
            footer {
                color: antiquewhite;
                text-align: center;
                font-style: italic;
            }